body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
    background-color: darkolivegreen;
}
#grid-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box; 
    text-align: center;
    
}

.card {
    width: 600px; 
    height: 400px; 
    border: 5px solid #ccc;
    padding: 0; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    perspective: 2000px; 
    cursor: pointer;
    overflow: hidden;
    

}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-face {

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    word-wrap: break-word;
}

.card-front {
    background-color: black;
    color: white;
    font-size: 1.8rem;
    padding: 20px;
 
}

.card-back {
    background-color: darkgrey;
    color: white;
    font-size: 1.2rem;
    transform: rotateY(180deg);
    padding: 20px;
     text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.scroll-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.scroll-button:hover {
    background-color: #2980b9;
}

.header-text {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    font-size: 2rem;
}